name: Build & Test

on:
  push:
    branches:
      - dev

  pull_request:
    branches-ignore:
      - "changeset-release/main"
      - "dev"

    types:
      - opened
      - synchronize

jobs:
  build:
    name: Build and Test
    timeout-minutes: 15
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        node-version: [22, 24]

    # if: ${{ github.ref != 'refs/heads/changeset-release/main' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Type check
        run: bun run tc

      - name: Test
        run: bun test
